SERVER_PORT=8000
DEVELOPMENT_SERVER=development
PRODUCTION_SERVER=production
SERVER_PUBLIC_DIR=public
SERVER_BASE_URL=/api
SERVER_API_VERSION_URL=/v1
SERVER_URL_BOOKS=/books
SERVER_URL_AUTHORS=/authors
SERVER_DOCUMENTATION_URL=/documentation
DATABASE_NAME=library
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=
DATABASE_DIALECT=mysql
DATABASE_LOGGING=false
DATABASE_TEST_NAME=library-test
DATABASE_TEST_USER=root
DATABASE_TEST_PASSWORD=
DATABASE_TEST_HOST=localhost
DATABASE_TEST_PORT=
DATABASE_TEST_LOGGING=false
DATABASE_AUTHORS_MODEL_NAME=authors
DATABASE_BOOK_MODEL_NAME=books
DATABASE_BOOK_AUTHORS_MODEL_NAME=booksauthors
DATABASE_BOOK_AUTHORS_BOOK_ID=bookId
DATABASE_BOOK_AUTHORS_AUTHOR_ID=authorId
DATABASE_DEFAULT_TEMPORARY_DELETED=true
DATABASE_DEFAULT_EXCLUDE_ORM_FIELDS=true
DATABASE_DEFAULT_EXCLUDE_TEMPORARY_DELETED=true